- name: "Install Virtualbox guest additions if necessary ({{host_install_virtualbox_guest}})"
  when: "'host_install_virtualbox_guest' in group_names"
  block:
    - name: "Include appropriate distro tasks to install guest additions for {{ansible_distribution | lower}}"
      include_tasks: "./{{ansible_distribution | lower}}.yml"
